body {
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mosmer {
    text-align: center;
    background-color: rgb(155, 255, 160);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    padding: 50px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
}
.mis {
    text-align: center;
    background-color: rgb(155, 255, 160);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -50px;
    padding: 50px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.ger {
    text-align: center;
    background-color: rgb(155, 255, 160);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 55px;
    padding: 50px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.nmay {
    text-align: center;
    background-color: rgb(155, 255, 160);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -50px;
    padding: 50px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.apar {
    text-align: center;
    background-color: rgb(155, 255, 160);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 55px;
    padding: 50px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.mik {
    text-align: center;
    background-color: rgb(155, 255, 160);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -50px;
    padding: 50px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.jand {
    text-align: center;
    background-color: rgb(155, 255, 160);
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 50px;
    padding: 50px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}